<h1>TRIPS</h1>
<ul>
<% @itineraries.each do |itinerary| %>
<li><%= link_to "#{itinerary.start_address} to #{itinerary.end_address} #{itinerary.mode}",
itinerary_path(itinerary) %></li>
<% end %>
</ul>

<%= link_to "back to home", root_path %>
