// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Avara_Black";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: 'PPCirka-Bold';
  src: url('PPCirka-Bold.woff') format('woff'),
      url('PPCirka-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
$my-font-bold: "PPCirka-Bold";

@font-face {
  font-family: 'Avara_Bold Italic';
  src: url('Avara-BoldItalic.woff') format('woff'),
      url('Avara-BoldItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
$my-font-header: "Avara_Bold Italic";

@font-face {
  font-family: 'PPCirka-Light';
  src: url('PPCirka-Light.woff') format('woff'),
      url('PPCirka-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
$my-font: "PPCirka-Light";

@font-face {
  font-family: 'Universal-Sans-Display-Trial';
  src: url('UniversalSansDisplayTrial491-Regular-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "calt" 1, "rlig" 1, "rvrn" 1, "kern" 1, "rclt" 1, "dlig" 1, "liga" 1;
}
$uni-font: 'Universal-Sans-Display-Trial';
