// Specific CSS for your home-page
.main-container {
  background-color: black;
}

.journey-form {
  background: white;
  padding: 10px 20px;
  margin-top: 25px;
  border: 1px solid black;
  width: 89%;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px;
  padding-top: 5rem;
}

.gallery-img {
  object-fit: contain;
  width: 100%;
  height: auto;
}

.gallery-img:hover {
  opacity: 50%;
}

.card {
  border: none;
  transition: 0.4s;
  mix-blend-mode: multiply;
  background: white;
}

.card:hover {
  scale: 1.03;
  filter: grayscale(80%);
}

.card-img-overlay {
  opacity: 0%;
  transition: 0.3s;
  border: 1px none black;
  text-align: center;

}

.gallery-img:focus {
  transform: scale(1.2);
}
.card-img-overlay:hover {
  opacity: 80%;
}

h1 {
  color: white;
  mix-blend-mode: difference;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 50px;
  .info2 {
    font-weight: bold;
  }
}
.galery-title {
  margin: 50px 0;
  font-size: 35px;
  font-weight: light;
  padding-left: 1rem;
}

.display-item {
  font-size: 3vmin;
  padding: 4px;
}

a {
  color: black;
  text-decoration: none;
  font-weight: bolder;

}

.text {
font-size: 35px;
font-weight: light;
margin-bottom: 1px;
}
.text2 {
  font-size: 35px;
  font-weight: light;
  line-height: 40px;
  }

.title-padding{
  padding-left: 1rem;
  padding-top: 2rem;
}

.homepage {
  background-color: white;
}

body[light-mode="dark"] .homepage{
  background-color: #383838;
  }
