// Specific CSS for your home-page
.main-container {
  background-color: black;
}

.journey-form {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.homepage {
  //background-image: url("home-background.jpg");
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  //background-attachment: fixed, scroll;
  //background-size: cover;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  padding-top: 5rem;
}

.gallery-img {
  object-fit: contain;
  width: 100%;
  height: auto;
  mix-blend-mode: multiply;
}

.gallery-img:hover {
  opacity: 50%;
}

.card {
  border: none;
  transition: 0.4s;
}

.card:hover {
  scale: 1.03;
  filter: grayscale(100%);
}

.card-img-overlay {
  opacity: 0%;
  transition: 0.3s;
  border: 1px solid black;
  text-align: center;
}

.gallery-img:focus {
  transform: scale(1.2);
}
.card-img-overlay:hover {
  opacity: 80%;
}

h1 {
  color: white;
  mix-blend-mode: difference;
}
