.itinerary-main {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
}

.li-item-index {
   margin-top: 1rem;
   list-style: none;
   transition: 0.3s;
}

.li-item-index :hover {
  scale: 1.01;
}

.index-title {
  padding: 10px;
}

.list-banner {
  border: 1px none black;
}

.list-itin {
  color: black;
}

.mess-title {
  padding-left: 0px;
}
.text {
  text-align: left;
  margin-bottom: 1px;
  font-size: 35px;
  margin-left: 0.7rem;

}

ul {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
