<footer class="footer">
  <div class="footer-in">
    <div class="footer-txt">
      <h6>→ NICE MESSES</h6>
      <p>Created by Andris, Louis</p>
      <p>Louis-frédéric & Marie</p>
    </div>
  </div>
</footer>
