.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: none;
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder--input {
  max-width: none;
  width: 100%;
  border: 1px solid white;
  box-shadow: none;
  background-color: transparent;
}

.mapboxgl-ctrl-geocoder--button {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon {
  display: none;
}

.mapboxgl-ctrl-geocoder--icon-laoding {
  display: none;
}
