.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar-lewagon .navbar-brand img:hover {
  scale: 1.1;
}

.dropdown {
  position:static !important;
}

.dropdown-menu {
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
  margin-top:0px !important;
  width: 100% !important;
  justify-content: space-between;
  height: auto;
}
